.site .serverListTable {
    width: 100%;
}

.site .mat-card {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: none;
}

.site .serverListTable th {
    font-weight: bold;
}

.site .mat-badge-content {
    width: 45px;
}

.site .backButton {
    float: right;
    margin-top: -40px;
    width: 120px;
}

.site .titleCard a {
    margin-left: 15px;
}

.site .titleCard mat-chip {
    margin-left: 10px;
    width: 50px;
    justify-content: center;
}