<div class="container pt-5">
    <h1> Про сайт </h1>
    <p>
        Даний сервіс моніторить російські та білоруські сайти та перевіряє їх доступність. Перевірка здійснюється з різних куточків світу по протоколу HTTP з частотою раз на 30 сек. Один з серверів моніторингу знаходиться на території мордору. Серед них сайти
        банків, держ. установ, ЗМІ.
    </p>

    <p>Список сайтів береться з дружнього ресурсу <a target="_blank" href="https://incourse.trade/targets">Допомога в
            DDOS атаках</a>.</p>

    <p>Доступний <a target="_blank" href="https://api.mordor-sites-status.info/">API для
            автоматизації</a>. Сайт та API доступні всім без авторизації.</p>

    <p>Сервіс створено за підтримки <a target="_blank" href="https://lviv.dotnet.city/">Lviv .NET Community</a>.</p>

    <p>Якщо є пропозиції чи питання, будь ласка, пишіть на <a href="mailto:mordor-sites-status@gmail.com">mordor-sites-status@gmail.com</a></p>

    <p><b>Слава Україні! Смерть ворогам!</b></p>

    <br>
    <h1> About site </h1>
    <p>
        This service monitors Russian and Belarusian sites and checks their availability. The checks are performed from different parts of the world via HTTP with a frequency of 30 seconds. One of the monitoring servers is located in the territory of the Russian
        Federation. There are banks, media, government sites, and others among them.
    </p>

    <p>The list of sites is taken from our friends <a target="_blank" href="https://incourse.trade/targets">Help in DDOS attacks</a>.</p>

    <p>API for automation is <a target="_blank" href="https://api.mordor-sites-status.info/">available here</a>. The site and the API are available to anyone without authorization.</p>

    <p>Creation of service was supported by <a target="_blank" href="https://lviv.dotnet.city/">Lviv .NET Community</a>.</p>

    <p>If you have any suggestions or questions, please email to<a href="mailto:mordor-sites-status@gmail.com">mordor-sites-status@gmail.com</a></p>

    <p><b>Glory to Ukraine!</b></p>
</div>